.page {
  display: grid;
  grid-template-columns: 0.5fr auto 0.5fr;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas: 
    ". header ."
    ". filter ."
    ". bookmarks ."
    ". main ."
    ". footer .";
  gap: 1rem;
}

.page__header {
  grid-area: header;
  border: 1px solid black;
  padding-top: 1rem;
}

.page__filter {
  grid-area: filter;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.page__bookmarks {
  grid-area: bookmarks;
  border: 1px solid black;
}

.page__main {
  grid-area: main;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ul {
  display: flex;
  list-style: none;
  height: 45px;
  overflow-x: scroll;
  padding: 20px 0;
  flex: 0 0 800px;
  margin: 0 auto;
}