.page {
  display: grid;
  grid-template-columns: 0.5fr auto 0.5fr;
  grid-template-rows: auto auto auto 1fr auto;
  grid-template-areas: 
    ". header ."
    ". filter ."
    "bookmarks bookmarks bookmarks"
    ". divider ."
    ". main .";
  gap: 1rem;
}

.page__header {
  grid-area: header;
  /* border: 1px solid black; */
  padding: 1rem;
}

.page__filter {
  grid-area: filter;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.page__bookmarks {
  grid-area: bookmarks;
  /* border: 1px solid black; */
}

.page__divider {
  grid-area: divider;
  /* border: 1px solid black; */
}

.page__main {
  grid-area: main;
  /* border: 1px solid black; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.page__horizontal-list {
  display: flex;
  list-style: none;
  height: 60px;
  overflow-x: scroll;
  margin: 0 auto;
  align-items: center;
  scroll-behavior: smooth;
}

.page__horizontal-list::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: rgba(171, 42, 42, 0);
  -webkit-border-radius: 1ex;
}


.page__horizontal-list::-webkit-scrollbar-thumb {
  background: rgba(171, 42, 42, 0);
  -webkit-border-radius: 1ex;
}

.page__horizontal-list::-webkit-scrollbar-corner {
  background: rgba(144, 9, 9, 0);
}

.horizontal-list__bookmark {
  background: 'red';
  margin: 0 10px 0 0;
  border-radius: 10px;
}

.horizontal-list__bookmark:last-of-type {
  margin: 0;
}
